<%- include ('./includes/header.ejs') %>
  <body>
    <div class="dash-container">
      <div class="hover-hamburger" id="hover_hamburger">
        <div class="inner-hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <div class="nav-overlay" id="overlay"></div>
      <div class="side-bar" id="side_bar">
        <div class="other-hover-hamburger show" id="other_hover_hamburger">
          <div class="inner-hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <div class="side-bar-content">
          <div class="top-image-holder dash-img">
            <img src="/images/eia_logo.png" alt="" />
          </div>
          <ul class="links">
            <li class="list">
              <a href="/dashboard" class="link">Home</a>
            </li>
            <li class="list">
              <a href="/clients" class="link active">Clients</a>
            </li>
            <li class="list">
              <a href="/underwriting" class="link">Underwriting</a>
            </li>
            <li class="list">
              <a href="/claims" class="link">Claims</a>
            </li>
            <li class="list">
              <a href="/vehicles" class="link">Vehicles</a>
            </li>
            <li class="list">
              <a href="" class="link">Credit</a>
            </li>
            <li class="list">
              <a href="" class="link">Reports</a>
            </li>
          </ul>
          <ul class="links lower">
            <li class="list">
              <a href="/admin" class="link">Admin</a>
            </li>
            <li class="list">
              <a href="/logout" class="link logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="top-bar">
        <div class="user-name-space">
          <div class="user-icon">
            <div class="image-holder">
              <img src="./images/user-img.png" alt="" />
            </div>
            <h3 class="username-dash">Hello <%= user.firstName %></h3>
          </div>
        </div>
      </div>
      <div class="time-bar">
        <h3 id="date_value"></h3>
      </div>
      <div class="dash-main">
        <div class="dash-content">
          <div class="data-input-content">
            <h2 class="data-input-title">New Client Registration</h2>
            <form action="" method="post" class="form-action">
              <div class="form-contents">
                <div class="rows">
                  <div class="data-col">
                    <div class="input-holder inside">
                      <select name="businessType" class="input-space" required id="business_type">
                        <option value="" selected>Business Type</option>
                        <option value="Individual">Individual</option>
                        <option value="Corporate">Corporate</option>
                      </select>
                    </div>
                    <div class="split-diplay">
                      <div class="input-holder split">
                        <input
                          type="text"
                          placeholder="First name"
                          id="firstname"
                          required
                          name="firstName"
                          class="input-space"
                        />
                      </div>
                      <div class="input-holder split">
                        <input
                          type="text"
                          placeholder="Last name"
                          required
                          id="lastname"
                          name="lastName"
                          class="input-space"
                        />
                      </div>
                    </div>
                    <div class="input-holder inside">
                      <input
                        type="text"
                        placeholder="ID Number"
                        required
                        id="id_num"
                        name="idNumber"
                        class="input-space"
                      />
                    </div>
                    <div class="input-holder inside">
                      <input
                        type="text"
                        placeholder="KRA Pin"
                        required
                        name="pin"
                        class="input-space"
                      />
                    </div>
                    <div class="input-holder inside">
                      <input
                        type="text"
                        placeholder="Street, City"
                        required
                        name="city"
                        class="input-space"
                      />
                    </div>
                    
                    <div class="input-holder inside">
                      <input
                        type="text"
                        placeholder="P. O. Box"
                        required
                        name="boxOffice"
                        class="input-space"
                      />
                    </div>
                  </div>
                  <div class="data-col">
                    <div class="input-holder inside">
                      <input
                        type="tel"
                        placeholder="Phone"
                        required
                        name="phoneNumber"
                        class="input-space"
                      />
                    </div>
                    <div class="input-holder inside">
                      <select name="level" class="input-space" required id="">
                        <option value="" selected>Client Level</option>
                        <option value="High Level">High Level</option>
                        <option value="Normal Level">Normal Level</option>
                        <option value="Low Level">Low Level</option>
                      </select>
                    </div>
                    <div class="input-holder inside">
                      <input
                        type="email"
                        placeholder="Email"
                        required
                        name="email"
                        class="input-space"
                      />
                    </div>

                    <div class="input-holder inside">
                      <input
                        list="business_nature"
                        class="input-space"
                        placeholder="Select or Enter Nature of Business"
                        name="businessNature"
                        required
                      />
                      <datalist id="business_nature">
                        <option value="Manufacturing"></option>
                        <option value="Processing"></option>
                        <option value="Contruction"></option>
                      </datalist>
                    </div>
                    <div class="input-holder inside">
                      <input
                        type="text"
                        placeholder="Contact Person Name"
                        required
                        name="contactPerson"
                        class="input-space"
                      />
                    </div>
                    <div class="input-holder inside">
                      <input
                        type="tel"
                        placeholder="Contact Person Phone"
                        required
                        name="contactPhone"
                        class="input-space"
                      />
                    </div>
                  </div>
                  <div class="button-holder" style="margin-left: 1rem">
                    <% if (errorMessage) {%>
                      <h3 style="color: red;"> <%= errorMessage%></h3> 
                  <%}%>
                    <button name="" class="btn add-new">Register</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/client-type.js"></script>
    <script src="./js/time.js"></script>
    <script src="./js/nav.js"></script>
  </body>
</html>
